{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <a class="row">
        {% for category in categories %}
        <a href="{% url 'product_list_by_category' category=category%}" class="col">
            <div class="card">
                <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="{{ category.name }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ category.name }}</h5>
                </div>
            </div>
        </a>
        {% endfor %}
</div>
{% endblock %}